section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding: 50px;

    @media (max-width: 1150px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

article {
    max-width: 250px;
    width: 100%;
    height: 315px;
    color: #205691;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h3 {
        text-align: center;
    }

    img {
        max-width: 250px;
        width: 100%;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

    button {
        background: #205691;
        padding: 10px 20px;
        color: #FFFFFF;
        border: none;
        border-radius: 10px;
    }
}