.homeMain {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 5px solid red;

    @media (max-width:900px){
        flex-direction: column;
    }
}

.homeTitle {
    width: 800px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: start;

    h1 {
        font-size: 75px;
    }

    p {
        font-size: 20px;
    }

    button {
        width: 300px;
        background: #FD7267;
        padding: 20px;
        color: #fff;
        border: none;

    }

    @media (max-width: 970px){
        align-items: center;
        text-align: center;
    }

}

.cardInfo {
    width: 100%;
    display: flex;
    flex-direction: row;

    .info {
        width: 130px;
        height: 45px;
        display: flex;
        
    }
}

.homeImg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}