footer {
    width: 100%;
    height: 60px;

    background: #20579120;

    display: flex;
    align-items: center;

    .textFooter {
        width: 100%;
        text-align: center;
        
        a {
            color: #205791;
            font-weight: 600;
        }

        a:hover {
            color: #00AAFF;
        }
    }
}
